version: "3.8"
services:
  frontend:
    container_name : frontend
    build:
      context: ./frontend
    command: "npx serve -s build"
    restart: always
    ports:
     - "3000:3000" 
    depends_on:
     - backend
    networks:
     - app_network
  backend:
    container_name : backend
    build:
      context: ./backend
    command: "python -m flask run --host=0.0.0.0"
    restart: always
    ports:
     - "5000:5000" 
    networks:
     - app_network
  nginx:
    container_name : nginx_proxy
    restart: always
    build:
      context: ./nginx
    ports:
      - "80:80"
      - "443:443"
    networks:
     - app_network
    depends_on:
      - frontend
      - backend
networks:
  app_network:
